html{
	height: 100%;
}
body{
	min-height: 100%;
}
#header{
	background-color: blue;
	height: 10%;
}

#content{
	background-color: red;
	height: 80%;
}

#footer{
	background-color: yellow;
	height: 2%;	
}

#menu{
	background-color: green;
	height: 80%;	
}
.collection-item{
	margin: 0;
	text-indent: 20px;
}