html,body {
	width: 100%;
	height: 100%;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
#header{
	background-color: #1565c0;
	height: 150px;
	color: #ffea00;
	font-size: 6vmin;
	text-align: center;
}
#header img{
	float: left;
	margin: 15px;
}
#menu{
	margin: 0;
	padding: 0;
}
#menu .nav-wrapper{
	background-color: #F9BF3B;
}
#dropdownClub{
	width: 200px;
}
#dropdownJoueurs a{
	background-color: #1565c0;
	color: #ffea00;
}

#dropdownClub a,#dropdownClub li {
	background-color: #1565c0;
	color: #ffea00;
}