html,body {
	width: 100%;
	height: 100%;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
#header{
	background-color: #1565c0;
	height: 10	0px;
	color: #ffea00;
	font-size: 6vmin;
	text-align: center;
	top: 0;
}
#header img{
	float: left;
	margin: 15px;
}
#menu{
	margin: 0;
	padding: 0;
}
#menu .nav-wrapper{
	background-color: #F9BF3B;
}
#dropdownClub a,
#dropdownJoueurs a,
#dropdownPages a{
	background-color: #1565c0;
	color: #ffea00;
	z-index: 1;
}
#dropdownClub a:hover,
#dropdownJoueurs a:hover,
#dropdownPages a:hover{
	background-color: #F9BF3B;
	color: #1565c0;
}
h1{
	margin: 0;
	padding: 0;
}

.titre h1{
	color: #ffea00;
	text-align: center;
	font-size: 3vmin;
}
#content{
	padding: 40px;
	z-index: 0;
}	

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #1565c0;
}
 /* label underline focus color */
   .input-field input[type=text]:focus, 
   .input-field input[type=email]:focus,
   .input-field input[type=password]:focus
    {
     border-bottom: 1px solid #1565c0;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #1565c0;
   }
   .btn{
   	margin: 15px;
   }
#bodyCo{
	background-color: #1565c0;
}
#connexion{
	background-color: 	white;
}
#imgconn{
	margin-top: 15px;	
	margin-bottom: 15px;	
	background-color: #1565c0;
	padding: 30px 15px 30px 15px;		
	width:  160px;	
	height: 160px;	
}
.deco {
	background-color: 	white;
	margin-top: 150px;	
}
.haut{
	margin-top: 40px;
}
.article{
	margin: 40px;
	padding: 0;
}
.titre{
	margin-top: 40px;
	font-size: 	3vmin;	
}
.titreArticle{
	font-size: 30px;
}
.contenueArticle{
	font-size: 12px;
	overflow: auto;
}

.contenueArticle h1{
	font-size: 30px;
	padding: 15px;
}
